{% extends 'base.html' %}
{% load static %}


{% block meta_tags %}
  <title>{{ orgue.designation|default_if_none:"" }} {{ orgue.edifice }} - {{ orgue.commune }}, {{ orgue.departement }}</title>
  <meta property="og:title" content="{{ orgue.designation|default_if_none:"" }} {{ orgue.edifice }} - {{ orgue.commune }}, {{ orgue.departement }}">
  <meta name="description" content="{{ orgue.designation|default_if_none:"" }} {{ orgue.edifice }} - {{ orgue.commune }}, {{ orgue.departement }}">
  <meta property="og:description" content="{{ orgue.designation|default_if_none:"" }} {{ orgue.edifice }} - {{ orgue.commune }}, {{ orgue.departement }}">
  {% if object.image_principale %}
    <meta property="og:image" content="{{ orgue.image_principale.image.url }}">
  {% endif %}
{% endblock %}

{% block head_extra %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
{% endblock %}

{% block content %}

  <section class="py-3 bg-light" id="orgue-detail">
    <div class="container">
      <div class="row justify-content-left text-md-left">
        <div class="col-lg-12 text-center text-md-left">
          <div class="mb-3">
            <a href="{% if request.session.orgues_url %}{{ request.session.orgues_url }}{% else %}{% url 'orgues:orgue-list' %}{% endif %}">
              Résultats de recherche
            </a> <span class="px-2 font-weight-600 text">></span> Fiche orgue
          </div>
         </div>
      </div>
      <div class="row justify-content-center text-md-left">
        <div class="col-lg-9 my-4 text-center text-md-left">
          <h2 class="mb-0">
            {{ orgue.edifice|capfirst }} <br>
          </h2>

          <h4 class="text-muted">
            <a href="/orgues/?query={{ orgue.commune|urlencode }}" class="link">{{ orgue.commune }}</a>
            {% if orgue.ancienne_commune %} (<a href="/orgues/?query={{ orgue.ancienne_commune|urlencode }}" class="link">{{ orgue.ancienne_commune }}</a>){% endif %}, <a href="/orgues/?query={{ orgue.departement|urlencode }}" class="link">{{ orgue.departement }}</a>
            <small>
              | <a href="/orgues/?query={{ orgue.commune|add:' '|add:orgue.edifice|urlencode }}" class="link">{{ orgue.designation|default_if_none:"Orgue" }}</a>
            </small>
          </h4>
        </div>
        <div class="col-lg-3 my-4 text-center text-md-left">
          <a href="{% url 'orgues:orgue-update' object.uuid %}" class="btn btn-primary rounded-pill mt-3 btn-block">
            <i class="fa fa-edit"></i> Compléter la fiche
          </a>
        </div>
        </div>
      <div class="row justify-content-center">
        <div class="col-lg-9 order-2 col-md-12 order-lg-1  ">
          <div class="card mb-4 box-shadow">
            {% if object.image_principale %}
              <img class="card-img-top d-none d-lg-block" src="{{ orgue.image_principale.image.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 order-md-1 py-20">
                  <h2 class="titre-fiche">Composition</h2>

                  {% if claviers.count %}
                    <h4>
                      {% if claviers.count <= 1 %}
                        {{ claviers.count }} plan sonore
                      {% else %}
                        {{ claviers.count }} plans sonores
                      {% endif %}
                      <small>(glisser vers la droite)</small>
                    </h4>
                    <div id="claviers" class="row flew-row flex-nowrap">
                      {% for clavier in claviers %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                          {% include 'orgues/clavier_detail.html' %}
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    <p class="text-muted">A compléter !</p>
                  {% endif %}
                  {% if orgue.accessoires.count %}
                    <p class="soustitre-fiche">Accessoires</p>
                    <div id="accessoires">
                      {{ orgue.accessoires.all|join:', ' }}
                    </div>
                  {% endif %}
                  <h2 class="titre-fiche">Frise chronologique</h2>
                  {% if evenements.count %}
                    <div id='timeline-embed' style="width: 100%; height: 400px"></div>
                  {% else %}
                    <p class="text-muted">Aucun événement</p>
                  {% endif %}
                  <hr>
                  <h2 class="titre-fiche">Description</h2>
                  <div id="resume">{{ orgue.resume|safe }}</div>
                  <p class="soustitre-fiche">Buffet</p>
                  {% if orgue.buffet %}
                    <div id="buffet">{{ orgue.buffet|safe }}</div>
                  {% else %}
                    <p class="text-muted">Pas de resumé</p>
                  {% endif %}
                  <p class="soustitre-fiche">Console</p>
                  {% if orgue.console %}
                    <div id="console">{{ orgue.console|safe }}</div>
                  {% else %}
                    <p class="text-muted">Pas de description</p>
                  {% endif %}
                  <h2 class="titre-fiche">Partie instrumentale</h2>
                  <p class="soustitre-fiche">Sommiers</p>
                  {% if orgue.sommiers %}
                    <div id="sommiers">{{ orgue.sommiers|safe }}</div>
                  {% else %}
                    <p class="text-muted">Pas de description</p>
                  {% endif %}
                  <p class="soustitre-fiche">Transmission</p>
                  <div id="transmission">
                    <p>
                      {{ orgue.get_transmission_notes_display|default_if_none:"Non définie" }}. {% if orgue.transmission_commentaire %}{{ orgue.transmission_commentaire }} {% endif %}
                    </p>
                  </div>
                  <p class="soustitre-fiche">Tirage des jeux</p>
                  <div id="tirage">
                    <p>
                      {{ orgue.get_tirage_jeux_display|default_if_none:"Non défini" }}. {% if orgue.tirage_commentaire %}{{ orgue.tirage_commentaire }} {% endif %}
                    </p>
                  </div>
                  {% if orgue.temperament %}
                    <p class="soustitre-fiche">Tempérament</p>
                    <div id="temperament">
                      <p>
                        {{ orgue.temperament }}
                      </p>
                    </div>
                  {% endif %}
                  {% if orgue.diapason %}
                    <p class="soustitre-fiche">Diapason</p>
                    <div id="diapason">
                      <p>
                        {{ orgue.diapason }}
                      </p>
                    </div>
                  {% endif %}
                  {% if orgue.soufflerie %}
                    <p class="soustitre-fiche">Soufflerie</p>
                    <div id="soufflerie">
                      {{ orgue.soufflerie|safe }}
                    </div>
                  {% endif %}
                  {% if orgue.commentaire_tuyauterie %}
                    <p class="soustitre-fiche">Commentaire tuyauterie</p>
                    <div id="tuyauterie">
                      {{ orgue.commentaire_tuyauterie|safe }}
                    </div>
                  {% endif %}
                  {% if orgue.images.count %}
                    <h2 class="titre-fiche">Images</h2>
                    <div class="grid-layout portfolio-3-columns">
                      {% for image in orgue.images.all %}
                        <div class="portfolio-item img-zoom">
                          <div class="portfolio-item-wrap border-radius-5">
                            <div class="portfolio-image">
                              <a href="#"><img src="{{ image.thumbnail.url }}" alt=""></a>
                            </div>
                            <div class="portfolio-description">
                              <a title="{% if image.legende %}{{ image.legende }}{% endif %} {% if image.credit %}Crédit : {{ image.credit }}{% endif %}"
                                  data-lightbox="gallery-image" href="{{ image.image.url }}">
                                <i class="icon-zoom-in"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    <p class="text-muted">Ajouter des photos !</p>
                  {% endif %}
                  <h2 class="titre-fiche">Fichiers</h2>
                  {% if orgue.fichiers.count %}
                    <ul>
                      {% for fichier in orgue.fichiers.all %}
                        <li>
                          <a href="{{ fichier.file.url }}" target="_blank" rel="noopener noreferrer">
                            {% if fichier.description %}
                              {{ fichier.description }}
                            {% else %}
                              {{ fichier.file }}
                            {% endif %}
                          </a>
                        </li>

                      {% endfor %}
                    </ul>
                  {% else %}
                    <p class="text-muted">Aucun fichier</p>
                  {% endif %}
                  <h2 class="titre-fiche">Sources</h2>
                  {% if orgue.sources.count %}
                    <ul>
                      {% for source in orgue.sources.all %}
                        <li>
                          {% if source.lien %}
                            <a href="{{ source.lien }}" target="_blank"
                                rel="noopener noreferrer">{{ source.description }} ({{ source.type }})</a>
                          {% else %}
                            {{ source.description }} ({{ source.type }})
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p class="text-muted">Aucune source</p>
                  {% endif %}
                </div>
                <hr>
              </div>
            </div>
          </div>
          <p class="text-center">Code de l'orgue : {{ orgue.codification }}</p>
        </div>
        <div class="col-lg-3 order-1 col-md-12 order-lg-2  mb-3">

          <div class="card mb-4 box-shadow">
          {% if object.image_principale %}
              <img class="card-img-top d-lg-none" src="{{ orgue.image_principale.image.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <dl>
                <dt>Facteurs</dt>
                <dd>
                  {% if facteurs_evenements or orgue.entretien.all.count > 0%}
                    <ul>
                      {% for evenement in facteurs_evenements %}
                        <li>
                          {% for facteur in evenement.facteurs.all %}
                              <a href="/orgues/?query={{ facteur|urlencode }}" class="link">{{ facteur }}</a>
                              {% if not forloop.last %} & {% endif %}
                          {% endfor %}
                          ({{ evenement.type }} {{ evenement.dates }})</li>
                      {% endfor %}
                    </ul>
                    <ul>
                      {% for facteur in orgue.entretien.all %}
                        <li>{{facteur}} (entretien)</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    Pas d'information
                  {% endif %}
                </dd>
                <dt>Emplacement</dt>
                <dd>{{ orgue.emplacement|default_if_none:"Non défini" }}</dd>
                <dt>Etat de l'instrument</dt>
                <dd>{{ orgue.get_etat_display|default_if_none:"Non défini" }}</dd>
                <hr>
                <dt>Composition</dt>
                <dd>
                  {{ orgue.resume_composition }}
                </dd>
                <dt>Transmission des notes</dt>
                <dd>{{ orgue.get_transmission_notes_display |default_if_none:"Non définie" }}</dd>
                <dt>Tirage des jeux</dt>
                <dd>{{ orgue.get_tirage_jeux_display|default_if_none:"Non défini" }}</dd>
                <hr>
                <dt>Propriétaire</dt>
                <dd>{{ orgue.get_proprietaire_display|default_if_none:"Non défini" }}</dd>
                {% if orgue.organisme %}
                  <dt>Organisme</dt>
                  <dd>
                    {{ orgue.organisme }} <br>
                  </dd>
                {% endif %}
                {% if orgue.lien_reference %}
                  <dt>Lien de référence</dt>
                  <dd>
                    <a href="{{ orgue.lien_reference }}" target="_blank"
                        rel="noopener noreferrer">{{ orgue.lien_reference|truncatechars:40 }}</a>
                  </dd>
                {% endif %}
              </dl>

              {% if orgue.liens_pop %}
                <dt>Inscription ou classement</dt>
                <dd>
                  {% for lien in orgue.liens_pop %}
                    <a href="{{ lien.href }}" target="_blank" rel="noopener noreferrer">{{ lien.title }}</a> <br>
                  {% endfor %}
                </dd>
                <img src="{% static "img/MH3A_simplifiee_RVB.png" %}" id="logo_mh" alt="">
              {% endif %}
              {% if orgue.latitude and orgue.longitude %}
                <div id="mapid" style="height:150px;margin-bottom:10px"></div>
              {% endif %}

              {% if orgue.osm_type and orgue.osm_id %}
                <dt>Localiser l'édifice</dt>
                <dd>
                {% with 'https://www.openstreetmap.org/'|add:orgue.osm_type|add:'/'|add:orgue.osm_id as lien_osm %}
                    <a href="{{ lien_osm }}" target="_blank" rel="noopener noreferrer">Ouvrir la carte OpenStreetMap</a> <br>
                {% endwith %}
                </dd>
              {% endif %}

            </div>
          </div>
          <div class="mb-4  box-shadow">
            <small class="text-justify">Mise à jour {{ contributions.count }} fois par {{ contributions.contributeurs }} contributeur{{ contributions.contributeurs|pluralize }} <a href="{% url 'orgues:orgue-detail-contributions' orgue.uuid %}" class="pl-1">voir détail</a>
              {% if contributions.count > 0 %}
                Actualisé le {{ contributions.modified_date|date:'d/m/Y' }} par {{ contributions.updated_by_user | default:"Personne" }}
              {% endif %}
            </small>
            <a href="{% url 'orgues:orgue-qrcode' object.slug %}" class="text-center block" target="_blank">
              <i class="fa fa-qrcode"></i> Imprimer un qrcode
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js_extra %}

  <!-- 1 -->
  <link title="timeline-styles" rel="stylesheet"
      href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">


  <!-- 2 -->
  <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

  {% if evenements.count %}
    <!-- 3 -->
    <script type="text/javascript">
      // The TL.Timeline constructor takes at least two arguments:
      // the id of the Timeline container (no '#'), and
      // the URL to your JSON data file or Google spreadsheet.
      // the id must refer to an element "above" this code,
      // and the element must have CSS styling to give it width and height
      // optionally, a third argument with configuration options can be passed.
      // See below for more about options.
      var timeline_json = {

        "events": [
          {% for evenement in evenements %}
            {
              "start_date": {"year": "{{evenement.annee}}"},
              {% if evenement.annee_fin %}
                "end_date": {"year": "{{evenement.annee_fin}}"},
              {% endif %}
              "display_date": "{{evenement.dates}}",
              "text": {
                "headline": "<b>{{ evenement.get_type_display }}</b>",
                "text": "{% if evenement.resume %}{{ evenement.resume|linebreaksbr|safe|escapejs}}{% endif %}{% if evenement.facteurs.count %}<p>Facteur(s) : {{ evenement.facteurs.all|join:', ' }}</p>{% endif %}"
              }
            },
          {% endfor %}
        ]
      };

      var additionalOptions = {
        timenav_height: 130,
        timenav_height_min: 60
      }
      new TL.Timeline('timeline-embed', timeline_json, additionalOptions);
    </script>
  {% endif %}
  {% if orgue.latitude and orgue.longitude %}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <script>
      var mymap = L.map('mapid', {
        scrollWheelZoom: false,
      }).setView([{{ object.latitude|safe }}, {{ object.longitude|safe }}], 15);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(mymap);

      var marker = L.marker([{{ object.latitude|safe }}, {{ object.longitude|safe }}]).addTo(mymap);
    </script>
  {% endif %}

{% endblock %}
