{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container" id="app">
    <section id="orgue-list">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body" id="search-form">
              <div class="form-group">
                <label for="">Département</label>
                <select v-model="departement" class="form-control">
                  <option value="">Tous les départements</option>
                  <option v-for="departement in departements" :value="departement[1]">((departement[0])) ((departement[1]))</option>
                </select>
              </div>
              <div class="form-group">
                <label for="query">Recherche <i class="fa fa-info-circle tex-primary" data-toggle="tooltip" data-title="Rechercher une commune, une église, un facteur ..."></i></label>
                <input id="query" v-model="input" placeholder="Commune, facteur, église ..." class="form-control" value="{{ request.GET.facteur }}"/>
              </div>
              <div class="text-center d-none d-xl-block">
                <img src="{% static 'img/conseil_image_principale.png' %}" alt="" style="width: 100%">
              </div>
              <div class="text-center d-none d-xl-block">

                <h5>Quelques conseils pour éditer la photo principale d'une fiche d'orgue</h5>

                <a href="{% url 'orgues:orgue-fiche-conseils' %}" class="btn btn-primary rounded-pill mt-3 btn-block">voir les
                  recommandations</a>
                <hr>

                {% if perms.orgues.change_orgue %}
                <a href="{% url 'orgues:orgue-csv' %}" class="btn btn-warning rounded-pill mt-3 btn-block">
                    Export des orgues en csv</a>
                {% endif %}
                <hr>

                {% if perms.orgues.add_orgue %}
                <a href="{% url 'orgues:orgue-create' %}" class="btn btn-info rounded-pill mt-3 btn-block">
                    Créer un nouvel orgue</i></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8" v-cloak>
          <p class="text-muted text-center" v-if="!loading">((hits)) orgue<span v-if="hits>0">s</span></p>
          <div class="card" v-if="loading">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <strong>Chargement...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
              </div>
            </div>
          </div>
          <div v-for="orgue in orgues" class="card shadow-sm vignette mb-lg-4 mb-sm-5 orgue-card" @click="select(orgue)">
            <div class="row no-gutters">
              <div class="col-lg-4 la_vignette" style="background: #868e96;">
                <img class="card-img-top" :src="orgue.vignette" alt="Photo orgue" style="">
              </div>
              <div class="col-lg-8">
                <div class="card-body py-md-3">
                  <h4 class="card-title mb-0">
                    <span v-html="orgue._formatted.edifice"></span>
                    | <span v-html="orgue._formatted.commune"></span>, <span v-html="orgue.departement"></span>
                  </h4>
                  {% spaceless %}
                    <p class=" my-0">
                      <span v-html="orgue.designation"></span>
                      <span v-if="!orgue.designation">Orgue</span>
                      <span v-if="orgue.emplacement">, ((orgue.emplacement))</span>
                      <span v-if="orgue.resume_composition">, ((orgue.resume_composition))</span>
                    </p>
                  {% endspaceless %}
                  {% spaceless %}
                    <p class="my-0">
                      <b>Localisation : </b>
                      <span v-html="orgue._formatted.commune"></span>
                      <span v-if="orgue.ancienne_commune">(</span>
                      <span v-html="orgue._formatted.ancienne_commune" v-if="orgue.ancienne_commune"></span>
                      <span v-if="orgue.ancienne_commune">)</span>,
                      <span v-html="orgue._formatted.departement"></span>
                      (<span v-html="orgue._formatted.region"></span>)
                    </p>
                  {% endspaceless %}
                  <p class="my-0" v-if="orgue.facteurs.length > 0">
                    <b>Facteurs :</b> <span v-html="orgue._formatted.facteurs"></span>
                  </p>
                  {% if user.is_authenticated %}
                    <p class="my-1 d-none d-md-block" style="position:absolute;bottom:5px;right:20px; color:#5C1C54">
                      Avancement : ((orgue.completion)) %</p>
                  {% endif %}
                </div>
                {% if user.is_authenticated %}
                  <div class="card-footer d-md-none" style="color:#5C1C54">Avancement de la fiche
                    : ((orgue.completion))%
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <ul class="pagination" v-if="!loading && hits > 0 && page <=pages">
            <li class="page-item">
              <button class="page-link" @click="previous_page" v-if="page > 1">
                <span class="fa fa-chevron-left"></span>
              </button>
            </li>
            <li class="page-item">
              <span class="page-link" style="background:transparent;border:none;width:130px;  ">Page ((page))  / ((pages))</span>
            </li>
            <li class="page-item" v-if="page < pages">
              <button class="page-link" @click="next_page">
                <span class="fa fa-chevron-right"></span>
              </button>
            </li>
          </ul>
          <p class="text-center lead py-50" v-if="!loading && orgues.length == 0">
            L'orgue que vous recherchez n'est pas répertorié ? <br>
            Si cela est le cas vous pouvez le signaler ici <br>
            <a class="btn btn-primary rounded-pill mt-2" href="{% url 'contact' %}">Faire la demande</a>
          </p>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
{% block js_extra %}

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  {{ departements|json_script:"departements" }}

  <script>
    var departements = JSON.parse(document.getElementById('departements').textContent);
    var app = new Vue({
      el: '#app',
      data: {
        debouncedInput: '{{ query|default_if_none:'' }}',
        hits: 0,
        page: {% if page %}{{ page}}{% else %}1{% endif %},
        pages: 0,
        loading: false,
        orgues: [],
        departement: '{{ departement|default_if_none:'' }}',
        departements: departements
      },
      created: function () {
        this.fetchData();
      },
      watch: {
        debouncedInput: function () {
          this.page = 1
          this.fetchData()
        },
        departement: function () {
          this.page = 1
          this.fetchData()
        },
      },
      computed: {
        input: {
          get() {
            return this.debouncedInput
          },
          set(val) {
            if (this.timeout) clearTimeout(this.timeout)
            this.timeout = setTimeout(() => {
              this.debouncedInput = val
            }, 300)
          }
        }
      },
      methods: {
        fetchData: function (scrolltop) {
          var scrolltop = scrolltop || false;
          var self = this;
          var query = self.debouncedInput
          var departement = self.departement
          var page = self.page
          this.loading = true

          var pageUrl = '?page=' + page;
          if (departement) {
            pageUrl += '&departement=' + departement
          }
          if (query) {
            pageUrl += '&query=' + query
          }

          $.ajax({
            type: "POST",
            url: "{% url 'orgues:orgue-search' %}",
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              query: query,
              pageUrl: pageUrl,
              page: page,
              departement: departement
            },
            error: function (resp) {
              self.loading = false
              toastr.error(resp.responseJSON.message)
            },
            success: function (results) {
              self.loading = false
              self.orgues = results.hits
              self.hits = results.nbHits
              self.pages = results.pages
              if (scrolltop) window.scrollTo(0, 0);
              window.history.pushState('', '', pageUrl);
            },
          });
        }
        ,
        previous_page: function () {
          if (this.page <= 0) {
            return
          }
          this.page -= 1;
          this.fetchData(true);
        }
        ,
        next_page: function () {
          if (this.page >= this.pages) {
            return
          }
          this.page += 1;
          this.fetchData(true);
        }
        ,
        select: function (orgue) {
          window.location.href = orgue.url;
        }
      }
      ,
      delimiters: ["((", "))"]
    })
  </script>
{% endblock %}
