@font-face {
    font-family: D-DIN;
    src: url("../fonts/d-din/D-DIN.otf");
}

@font-face {
    font-family: D-DIN-Bold;
    src: url("../fonts/d-din/D-DIN-Bold.otf");
    font-weight: bold;
}

body {
    font-family: D-DIN, sans-serif !important;
}

#logo-header {
    clear: both;
    padding: 30px 0;
    background-color: #fff;
    position: relative;
}

#lien-documentation {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2em
}

#logo-header .page-title {
    text-align: center;
    padding: 0;
}

button.btn.btn-primary, .btn:not(.close):not(.mfp-close).btn-primary {
    background-color: #5c1c54;
    color: white;
    border: none;
}

button.btn.btn-primary:hover, button.btn.btn-primary:focus, button.btn.btn-primary:not(:disabled):not(.disabled):active, button.btn.btn-primary:not(:disabled):not(.disabled).active, .btn:not(.close):not(.mfp-close).btn-primary:hover, .btn:not(.close):not(.mfp-close).btn-primary:focus, .btn:not(.close):not(.mfp-close).btn-primary:not(:disabled):not(.disabled):active, .btn:not(.close):not(.mfp-close).btn-primary:not(:disabled):not(.disabled).active, a.btn:not([href]):not([tabindex]).btn-primary:hover, a.btn:not([href]):not([tabindex]).btn-primary:focus, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled).active {
    background-color: #3c1434;
    border-color: #3c1434;
    color: #fff;
}

.page-menu {
    padding-top: 1px;

}

.page-menu nav > ul > li > a {
    font-size: 1.1em;

}

#logo_ministere {
    position: absolute;
    top: 0;
    left: 50px;
    width: 200px;
}

@media (max-width: 700px) {
    #logo_ministere {
        width: 80px;
    }
}

.page-menu.menu-outline nav > ul > li:hover > a, .page-menu.menu-outline nav > ul > li.active > a {
    border-color: #5c1c54;
    color: #5c1c54;
    background-color: transparent;
}

.form-group label:not(.error) {
    font-size: 1.1em;
    color: #5c1c54;
}

.form-check {
    padding-left:0;
}
#map svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#map svg path {
    fill: #dddddd;
    stroke: #aaaaaa;
    cursor: pointer;
}

#map svg path:hover {
    opacity: 0.8;
}

#map svg .active {
    fill: #5c1c54;
}

#map .opacity {
    opacity: 0.3;
}

#map #retour {
    z-index: 1;
}

img.img-responsive {
    width: 100%;
}

span.puce-etat {
    color: white;
    padding: 5px 0;
    margin-right: 4px;
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: bold;
    width: 65px;
    display: inline-block;
    text-align: center;
}

/* LISTE DES ORGUES */
#orgue-list .card {
    border-radius: 10px;
}

#orgue-list .la_vignette {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#orgue-list .la_vignette img.card-img-top {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 767px) {
    #orgue-list .la_vignette {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    #orgue-list .la_vignette img.card-img-top {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

}

/* CLAVIERS */

#claviers {
    overflow-x: scroll;
    margin-top: 20px;
}

.clavier div.card > ul.list-group > li.list-group-item {
    padding: .35rem 1.25rem !important;
    font-size: 0.9rem;
}

/* EDITION ORGUE */

.titre-fiche {
    margin: 20px 0 40px 0;
    color: #5c1c54;
    font-weight: 600;
    position: relative;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(48, 88, 149, 0.10);
    padding-bottom: 10px;
}

.soustitre-fiche {
    color: #5c1c54;
    font-size: 1.1em;
    font-weight: 500;

}

dt {
    color: #5c1c54;
    font-size: 1em;
    font-weight: 600;
}

.location::before {
    content: '';
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    right: 4px;
    display: inline-block;
    background: url('/static/img/pin.png');
}

.century::before {
    content: '';
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    right: 4px;
    display: inline-block;
    background: url('/static/img/century.png');
}

#clavier-template, #evenement-template {
    visibility: hidden;
    position: absolute;
    z-index: -10;
}

.content-heading {
    padding-bottom: 8px;
    font-size: 1.428571rem;
    font-weight: 400;
    line-height: 28px;
    margin-top: 40px;
    border-bottom: 1px solid #e4e7ed;
}

.retirer_clavier {
    display: inline-block;
    cursor: pointer;
    padding: 6px 5px;
    font-size: 1.5em;
    color: #6c757d;
    background: 0 0;
    position: absolute;
    right: 10px;
    top: 3px;
    border: none;
}

.new-clavier-btn {
    padding-right: 1em;
    padding-left: 1em;
    min-width: 130px;
    text-align: center;
    margin-top: 10px;
    height: 220px;
    border: 2px dashed #5c1c54;
    border-radius: 10px;
    width: 100%;
    color: #5c1c54;
}

.new-clavier-btn:hover {
    color: black;
}

.new-evenement-btn {
    text-align: center;
    margin-top: 10px;
    height: 100px;
    border: 2px dashed lightgray;
    width: 100%;
    color: #989898;
}

.new-evenement-btn:hover {
    color: black;
}

.evenement {
    margin: 10px 0;
}

.clavier div.card > ul.list-group > li.list-group-item {
    padding: .25rem 1.25rem !important;
    font-size: 0.9rem;
}

/* Frise chronologique */

.tl-slide-content-container h2.tl-headline {
    font-size: 1.2em !important;
}

/* Editeur WYSIWYG */

.trumbowyg-box, .trumbowyg-editor {
    min-height: 200px !important;
    margin-bottom: 2px !important;

}

/* Carte leaflet */

div.leaflet-popup-content h6 {
    text-transform: capitalize;
}

/* Utilitaire */

.py-50 {
    padding: 50px 0;
}

.vignette {
    cursor: pointer;
}

.vignette:hover {
    background: #f5f5f5;
}

section.triangle {
    position: relative;
    overflow: visible;
}

section.triangle::before {
    content: "";
    display: inline-block;
    border-radius: 10px;
    background: #5c1c54;
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    top: -25px;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }

    #orgue-detail .container {
        padding: 0 10px;

    }

}

#carte {
    padding: 30px;
}


table#lexique td:first-child {
    font-weight: bold;
    color: #5c1c54;
}

/* Grossir un peu le texte de présentation du projet sur la page d'accueil  */


/* Formulaire de contact */

#contact .card {
    border-radius: 20px;
}

/*search form*/

#editorial div p {
    font-size: 1.1rem;
}

/* Make Select2 boxes match Bootstrap3 heights: */
#search-form .select2-selection__rendered {
    line-height: 32px !important;
}

#search-form .select2-selection {
    height: 34px !important;
}

#search-form #btn:hover {
    width: 36px;
    color: #2e0c29;
}

#search-form #btn > i {
    transform: none;
    color: white;
}

#search-form .select2-container--default .select2-selection--single {
    border-radius: 50px;
}

#search-form .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, #search-form .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 25px;
}

#search-form .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 16px;
}

#search-form .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px;
    height: 30px;
}

#search-form .select2-container--default .select2-selection--single .select2-selection__clear {
    right: 5px;
}

#search-form .form-control::placeholder {
    color: #999;
}

#search-form .form-control {
    border-radius: 50px;
    border: 1px solid #aaa;
    height: 32px;
}

#search-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-form input[type=text] {
    height: 32px;
    min-height: 32px !important;
    font-size: 1rem !important;
}

/* Lexique */

#lexique-input {
    border-radius: 50px;
}

/*image enfants acceuil*/

#orgues-illustration-enfants {
    min-height: 400px;
}

@media (min-width: 1000px) {
    #orgues-illustration-enfants {
        min-height: 550px;
    }
}

/**/

@media (min-width: 1200px) {
    #nb-resultats {
        margin-top: -38px;
    }
}


.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #5c1c54;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.myclusterfacteur {
    height: 20px;
    width: 20px;
    border-radius: 30%;
    background-color: #d4af37;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin-top: -20px;
    margin-left: -20px;
}

.grid-image {
    border-radius: 5px;
}


.orgue-card span > em {
    color: hsl(204, 86%, 25%);
    font-style: inherit;
    background-color: #daedf8;
}

.orgue-card h4.card-title {
    font-size: 1.2em;
}

.orgue-card h4.card-title:first-letter {
    text-transform: capitalize
}

#searchinput input {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#id_first_name, #id_last_name {
    text-transform: capitalize;
}

ul {
    padding-left: 15px;
}

.alert.alert-info {
    color: #0c5460;
    background-color: #dceef1;
    border-color: #bee5eb;
}

[v-cloak] > * {
  display: none;
}

[v-cloak]::before { content: "loading…" }

/* Liens pour nagiguer entre les fiches d'orgues */
a.link, a.link:visited, a.link:active {
    color: inherit;
    cursor: pointer;
}

.border-radius-5 {
    border-radius:5px;
}

.border-radius-top-5 {
    border-radius: 5px 5px 0 0;
}

.page-menu nav > ul > li > a {
    transition:none;
}

#carte_generale{
    display: grid;
    grid-template-columns: 80% 1fr;
}

#mapid{
    grid-column: 1;
}

#div_filtre{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 15px;
    padding-right: 30px;
}

#valider_recherche_manufacture{
    padding-top: 5px;
}


.tooltip {
    pointer-events: none;
}

.btn-filtre{
    border-radius: 50px;
}

.qrcode {
    display: flex;
    justify-content: center;
}

#creation_orgue_box{
    display: grid;
    grid-template-columns: 30% 1fr 30%;
}

#creation_orgue{
    grid-column: 2;
}


#logo_mh {
    width:100%;
    max-width:250px;
    margin-bottom:15px;
}
